# ignore all folders
#**/

# ignore specific folders
/.ipynb_checkpoints
/.idea
/__pycache__
/report
/report30
/DublinBikesForecast/www/build/*
/DublinBikesForecast/node_modules/*
/DublinBikesForecast/.sourcemaps/*

# ignore all CSV files
*.csv

# except db_new_data.csv, gb_model.csv, db_clustered_stations.csv
#!db_new_data.csv
#!gb_model.csv
#!db_clustered_stations.csv

# ignore all JSON files
*.json